<h1>Gerenciador de Conteúdo</h1>

<a href="http://localhost/blog/?pagina=admin&metodo=create">Criar Publicação</a>
<br>
<br>
<hr>
<br>

<table border="2">
  <tr>
    <th>ID</th>
    <th>TÍTULO</th>
    <th>ALTERAR</th>
    <th>DELETAR</th>
  </tr>

  {% for postagem in postagens %}
  <tr>
    <th>{{postagem.id}}</th>
    <th>{{postagem.titulo}}</th>
    <th><a style=" text-decoration: none; color: black;" href="http://localhost/blog/?pagina=admin&metodo=change&id={{postagem.id}}">ALTERAÇÃO</a></th>
    <th><a style=" text-decoration: none; color: black;" href="http://localhost/blog/?pagina=admin&metodo=delete&id={{postagem.id}}">APAGAR</a></th>
  </tr>
  {% endfor %}
</table>